@import '~antd/lib/style/themes/default';

.m-detail {
  .ant-divider-horizontal {
    margin: @padding-md 0;
  }

  .m-block {
    margin-bottom: @padding-md;

    .describe {
      padding-left: 20px;
      font-size: 0.8em;
      font-weight: normal;
      color: @text-color;
    }

    .m-block-content {
      padding: @padding-md;
      background: @background-color-base;
    }
  }
}
