@import '../../theme';

#p-my-reset-password {
  position: absolute;
  padding: @padding-md;
  border-radius: @border-radius-base;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 360px;
  //height: 260px;

  .u-title {
    text-align: center;
    font-weight: 300;
  }

  .u-link-box {
    margin-top: @padding-md;
    padding-right: @padding-md/2;
    text-align: right;

    .reset {
      color: @text-color-dark;
    }
  }
}
